@using Settings = Podcasts.Core.Settings
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular With Webpack</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (Settings.UseWebpackDevServer)
    {
        <link href="@(Settings.WebpackDevServerRoot)/vendor.css" rel="stylesheet">
        <link href="@(Settings.WebpackDevServerRoot)/app.css" rel="stylesheet">
    }
    else
    {
        <link href="/static/vendor.min.css" rel="stylesheet">
        <link href="/static/app.min.css" rel="stylesheet"/>
    }
</head>
<body>
    @RenderBody()
    <pod-app>Loading...</pod-app>
    @if (Settings.UseWebpackDevServer)
    {
        <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/polyfills.js"></script>
        <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/vendor.js"></script>
        <script type="text/javascript" src="@(Settings.WebpackDevServerRoot)/app.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/static/polyfills.min.js"></script>
        <script type="text/javascript" src="/static/vendor.min.js"></script>
        <script type="text/javascript" src="/static/app.min.js"></script>
    }
</body>
</html>